{% extends "base.html" %}
{% load humanize %}
{% block contents %}

<div class="row mt-5">
  <div class="col-12">
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <th scope="col">no.</th>
          <th scope="col">이메일</th>
          <th scope="col">가입날짜</th>
        </tr>
      </thead>
      <tbody class="text-dark">
        {% for user in users %}
        <tr>
          <td scope="row">{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.register_date|date:'Y-m-d H:i' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<!--    FinalProject1(sbson) start-->
<nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}&s={{ request.GET.s }}">이전으로</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">이전으로</a>
    </li>
    {% endif %}
    <li class="page-item active">
      <a class="page-link" href="#">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</a>
    </li>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}&s={{ request.GET.s }}">다음으로</a>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link disabled" href="#">다음으로</a>
    {% endif %}
    </li>
  </ul>
</nav>
<!--    FinalProject1(sbson) end -->

{% endblock %}
